*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    font-size: 60.5%;
}
body{
    background-color: gainsboro;
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
}
header{
    width: 100%;
    height: 5rem;
    background-color: dimgray;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.menu{
    max-width: 80%;
    height: 100%;
    padding: 1rem;
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 24px;
    color: antiquewhite;
    font-weight: bolder;
}
.list .tab{
    padding-right: 2rem;
    color: antiquewhite;
}
.list .tab:active{
    color: darkmagenta;
}
.content{
    width: 100%;
    height: 50rem;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
table{
    width: 70rem;
    height: 35rem;
    margin: auto;
    background-color: dimgray;
    border-radius: 10px;
}
table caption{
    width: 100%;
    height: 5rem;
}
form{
    width: 70rem;
    height: 35rem;
    margin: auto;
    background-color: dimgray;
    border-radius: 10px;
}
.form-header{
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(189, 185, 189, 0.54);
}

.form-body{
    width: 100%;
    height:30rem;
    background-color: #383636;
}
.form-body>.body-field{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.form-body>.body-display{
    width: 100%;
    height: 13rem;
    padding: 1rem;
    background-color: #930505;
}
.body-display-field{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: lavender;
}
.form-body>.body-field >.field{
    width: 65%;
    height: 4rem;
    background-color: #dcdcdc;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
    border: none;
}
.form-body>.body-field >.label{
    width: 30%;
    height: 4rem;
    background-color: gainsboro;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
}
.form-footer{
    width: 100%;
    min-height: 5rem;
    background-color: rgba(42, 0, 42, 0.54);
}
.form-footer >input{
    display: block;
    width: 100%;
    min-height: 5rem;
    outline: none;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    background-color: #0c3e24;
    border: none;
    transition: all .1s;


}
.form-footer >input:focus{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
